<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %> |</li>
      <li><%= link_to "About",   about_path %> |</li>
      <li><%= link_to "Contact", contact_path %> |</li> 
      <li><a href="http://google.com/">Blog</a> |</li>
      <li><%= link_to "Terms of Use", terms_path %> |</li> 
      <li><%= link_to "Privacy Policy", privacy_path %> |</li> 
      <li><%= link_to "Help", help_path %></li> 
    </ul>
  </nav>
  <small>
    <%= link_to image_tag("facebook-20.png", alt: "Facebook", border: "0"), '#' %>
    <%= link_to image_tag("twitter-20.png", alt: "Twitter", border: "0"), '#' %>
    <%= link_to image_tag("linkedin-20.png", alt: "Facebook", border: "0"), '#' %>
  </small>
</footer>